
<style type="text/css">
.dashcreator{
	background-color: #fff;
	border-radius: 10px;
	padding: 15px;
}
</style>

<br>
<br>
<br>

<div class="container">
	<h1>Hello <%= current_user.firstname %>. Your Dashboard!</h1>
	<p style="font-weight: 300;"><strong>Ads yet to be approved.</strong></p><br>
	<div class="col-lg-8">
		<div class="row adiselfer">

                 <%= render @posters1 %> 

                </div>
	</div>
	<div class="col-lg-3 col-lg-offset-1 ">
		<div class="row dashcreator">
			<h3>Add a new Category</h3>
			<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Add", :class => "btn btn-default" %>
  </div>
<% end %>
		</div>

		<div class="row">
<br>
			<p class="lead"><strong>All categories</strong></p>
                <div class="list-group">
                    <%= render @categories %>
                </div>

		</div>
<br>
<br>

<div class="row dashcreator">
			<h3>Add a new Location</h3>
			<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, :class => "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Add", :class => "btn btn-default" %>
  </div>
<% end %>
		</div>

		<div class="row">
			<br>
       <p class="lead"><strong>All Locations</strong></p>
                <div class="list-group">
                    <%= render @locations %>
                </div>
		</div>

	</div>
</div>