  <style type="text/css">

   .thumbnail{
    height: 320px;
   }

   @media only screen and (max-width : 992px) {

 .thumbnail{
    height: auto;
   }

    }

  </style>

  <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <br>
                            <img src="<%= poster.photos.first.posterimage_url(:partialimage) %>" alt="">
                            <div class="caption">
                                <h5 class="pull-right"><strong><span style="font-size: 9px;">GHC</span> <%= poster.price %></strong></h5>
                                <h4><span style=""><%= link_to truncate( poster.title, :length => 21), poster, :style => "color: #e20d0d; font-weight: 700; font-size: 13px;" %></span>
                                </h4>
                                <p><%= truncate( poster.description , :length => 50)  %></p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right"><%= poster.comments.count %> coments</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                                <p>
                                <% if current_user.admin? %>
                                <%= link_to 'Destroy', poster, method: :delete, data: { confirm: 'Are you sure?' } %>
                                <% end %> | 
                                <% if poster.approved? %>
                                <strong>Approved</strong>
                                <% else %>
                                <strong>Unaproved</strong>
                                <% end %>
                              </p>
                            </div>
                        </div>
                    </div>