<!DOCTYPE html>
<html>
  <head>
    <title>MarketplaceApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'bootstrap.css', :media => 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/fc6d352727.js"></script>
    <%= javascript_include_tag 'jssor.slider-24.1.5.min.js', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="initial-scale=1">
  </head>

  <style type="text/css">

  body{
    background-color: #eaebed;
  }

nav{
    padding-top: 2.5px;
    padding-bottom: 2.5px;
     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

 .navbar-nav > li > a,
 .navbar-nav > li > a:focus {
  color: #ffffff;
  font-weight: 700;
}

.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{

    background-color: #f92020;
    transition: background-color 1s ease;
    color: white;
    border-bottom: 5px solid #f92020;
}

.navcolor{
    background-color: #e20d0d;
}

.navbar .navbar-toggle .icon-bar {
    background-color: white;
}

.postadnavbtn{
    background: rgba(235,235,3,1);
background: -moz-linear-gradient(left, rgba(235,235,3,1) 0%, rgba(255,206,10,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235,235,3,1)), color-stop(100%, rgba(255,206,10,1)));
background: -webkit-linear-gradient(left, rgba(235,235,3,1) 0%, rgba(255,206,10,1) 100%);
background: -o-linear-gradient(left, rgba(235,235,3,1) 0%, rgba(255,206,10,1) 100%);
background: -ms-linear-gradient(left, rgba(235,235,3,1) 0%, rgba(255,206,10,1) 100%);
background: linear-gradient(to right, rgba(235,235,3,1) 0%, rgba(255,206,10,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebeb03', endColorstr='#ffce0a', GradientType=1 );

color: white;
font-weight: 700;
border: 2px dashed white;
font-size: 18px;
}



/************************************************************
*************************Footer******************************
*************************************************************/

@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Gudea);
.footer1 {
    background: #e20d0d;
  padding-top: 40px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;/*  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #003;*/
}



.title-widget {
  color: #000;
  font-size: 22px;
  font-weight: 300;
  line-height: 1;
  position: relative;
  font-family: 'Pacifico', cursive;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 25px;
  margin-left: 0;
  padding-left: 28px;
}

.title-widget::before {
    background-color: #ffffff;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}



.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}


.widget_nav_menu ul li {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
  position: relative;
    text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    padding-bottom: 7px;
  width:95%;
}

.widget_nav_menu ul li a{
    color: white;
}



.title-median {
    color: #ffffff;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
    font-family: 'Pacifico', cursive;
}

.footerp p {font-family: 'Gudea', sans-serif; }


#social:hover {
          -webkit-transform:scale(1.1); 
-moz-transform:scale(1.1); 
-o-transform:scale(1.1); 
      }
      #social {
        -webkit-transform:scale(0.8);
                /* Browser Variations: */
-moz-transform:scale(0.8);
-o-transform:scale(0.8); 
-webkit-transition-duration: 0.5s; 
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
      }           
/* 
    Only Needed in Multi-Coloured Variation 
                                               */
      .social-fb:hover {
        color: #3B5998;
      }
      .social-tw:hover {
        color: #4099FF;
      }
      .social-gp:hover {
        color: #d34836;
      }
      .social-em:hover {
        color: #f39c12;
      }
      .nomargin { margin:0px; padding:0px;}





.footer-bottom {
    background-color: #000000;
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}


/************************************************************
*************************Footer******************************
*************************************************************/

 @media only screen and (max-width : 992px) {


      
    }

</style>

  </style>

  <body>

  	 <!-- Navigation -->
    <nav class="navbar navcolor navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <% if signed_in? %>
       <a class="navbar-toggle collapsed"  href="/posters/new" aria-expanded="false">
        <span class="btn btn-warning" style="position: relative; top: -10px;">Post Ad</span>
      </a>
    <% else %>
    <a class="navbar-toggle collapsed"  href="/users/sign_up" aria-expanded="false">
        <span class="btn btn-warning" style="position: relative; top: -10px;">Post Ad</span>
      </a>
    <% end %>

      <a class="navbar-brand" href="/" style="font-family: 'Pacifico', cursive; color: white; font-size: 25px;">Boom Gh</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if signed_in? %>
        <li class="active"><a href="#!" style="color: white; font-weight: 700;"><%= current_user.firstname %> <span class="sr-only">(current)</span></a></li>
        <% else %>
        <li><%= link_to "Sign In", new_user_session_path %>  </li>
        <% end %>
        
      </ul>
      <%= form_tag search_path , method: :get, :class => "navbar-form navbar-right" do %>
        <div class="form-group">
           <%= text_field_tag :q, nil , :placeholder => "Search for items", :class => "form-control"%>
        </div>
        <button type="submit" class="btn btn-default" style="color: #fff; background-color: #000; border: 1px solid #fff;">Search</button>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
         <% if signed_in? %>
        <li><a href="/posters/new" class="btn btn-default postadnavbtn">Post an Ad</a></li>
        <% else %>
         <li><a href="/users/sign_up" class="btn btn-default postadnavbtn">Post an Ad</a></li>
        <% end %>
        <% if signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" style="color: white;" aria-expanded="false"><strong>Account</strong> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!--
            <li><a href="#">Profile</a></li>
            <li><a href="#">My Ads</a></li>

          -->
          <li><%= link_to "My Ads", current_user %></li>
          <% if current_user.admin? %>
            <li><a href="/dashboard">Admin</a></li>
          <% end %>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          </ul>
        </li>
        <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

    </nav>
    <br>
    <br>
    <%= render partial: "shared/flash_messages", flash: flash %> 
    <%= yield %>

 
       

       <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


<!--footer-->
<footer class="footer1">
<div class="container">

<div class="row"><!-- row -->
                
                
                
                <div class="col-lg-4 col-md-4"><!-- widgets column left -->

                <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                          <li class="widget-container widget_nav_menu"><!-- widgets list -->
                    
                                <h1 class="title-widget">Useful links</h1>
                                
                                <ul>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  All Ads</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  About Us</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Privacy</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  All Categories</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  All Locations</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Terms and Conditions</a></li>
                                    <li><a  href="#" target="_blank"><i class="fa fa-angle-double-right"></i> Help page</a></li>
                                    
                                </ul>
                    
              </li>
                            
                        </ul>
                         
                      
                </div><!-- widgets column left end -->
                
                
                
                <div class="col-lg-4 col-md-4"><!-- widgets column left -->
            
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                          <li class="widget-container widget_nav_menu"><!-- widgets list -->
                    
                                <h1 class="title-widget">Social Media</h1>
                                
                                <ul>


        <li><a href="https://www.facebook.com/Boom-Gh-105042266742879/"><i class="fa fa-facebook-official"></i> Facebook</a></li>
        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
        <li><a href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
        <li><a href="#"><i class="fa fa-google-plus-official"></i> Google +</a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i> Linked In</a></li>


                                </ul>
                    
              </li>
                            
                        </ul>
                         
                      
                </div><!-- widgets column left end -->
                
                
                <div class="col-lg-4 col-md-4"><!-- widgets column center -->
                
                   
                    
                        <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                          <li class="widget-container widget_recent_news"><!-- widgets list -->
                    
                                <h1 class="title-widget">Contact Detail </h1>
                                
                                <div class="footerp"> 
                                
                                <h2 class="title-median">BoomGh.com</h2>
                                <p style="color: white;"><b>Email us:</b> <a href="mailto:boom@boomgh.com" style="color: white;">boom@boomgh.com</a></p>
                                <p style="color: white;"><b>Helpline Numbers: </b>

     +233 204341196, +2433306229  </p>
   
                                </div>
                                
                                <div class="social-icons">
                                
                                  <ul class="nomargin">
                                    
                <a href="https://www.facebook.com/Boom-Gh-105042266742879/" style="color: white;"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
              <a href="#!" style="color: white;"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
              <a href="#!" style="color: white;"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
              <a href="mailto:boom@boomgh.com" style="color: white;"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>
                                    
                                    </ul>
                                </div>
                        </li>
                          </ul>
                       </div>
                </div>
</div>
</footer>
<!--header-->

<div class="footer-bottom">

  <div class="container">

    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <div class="copyright">

          © 2017, Boom GH, All rights reserved

        </div>

      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <div class="design">

           <a href="http://www.bernardlomo.me">Bernardlomo.me </a> |  <a target="_blank" href="http://www.bernardlomo.me">Web Design & Development by Bernardlomo.me</a>

        </div>

      </div>

    </div>

  </div>

</div>
</body>
</html>
